<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>supabase</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>io.supabase.user-management</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.172538412994-q2ek5sg6hponppehvtb6ju0k7la3bei3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>flashback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>flashback</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>172538412994-q2ek5sg6hponppehvtb6ju0k7la3bei3.apps.googleusercontent.com</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Flashback saves photos and videos from your albums to your camera roll.</string>
</dict>
</plist>
